/* css stylesheet for website */

body {
background-color:##403f3f;
}
.intro {

}
.schoolTitle {
    font-family: 'Bungee Shade', cursive;
    font-size: 100px;
}
.programTitle {
    font-family: 'Lobster', cursive;
    font-size: 70px;

}

.welcomeTitle{
font-family:'Source Code Pro', monospace;
}

h1:after {
    display: inline-block;
    content: '';
    vertical-align: bottom;
    margin: 0 10px;
    height: 40px;
    width: 20px;
    background-color: #ec46b5;
    animation: blink 1.2s infinite;
}
